<a href="https://colab.research.google.com/github/mariaems99/Python-Do-Basico-A-Aplicacoes-de-IA/blob/main/Python_Do_B%C3%A1sico_a_Aplica%C3%A7%C3%B5es_de_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variáveis

In [ ]:
nome_completo = "Bob da Silva"
idade = 30
altura = 1.76
eh_estudante = True

print(f"Nome: {nome_completo}")
print(f"Idade: {idade}")
print(f"Altura: {altura}")
print(f"É estudante? {eh_estudante}")

Nome: Bob da Silva
Idade: 30
Altura: 1.76
É estudante? True

#Escopo de Variáveis

In [ ]:
#Variáveis Globais
saudacao = "Olá Mundo"
nome = "Aluno"

#Função
def minha_funcao():

    #Variável Local
    nome = "Ana"
    print(f"\n Dentro da função: {nome}")
    print(f"\n Acessando a variável global dentro da função: {saudacao}")

minha_funcao()

print(f"\n Fora da função: {saudacao}")
print(f"\n Fora da função: {nome}")

 Dentro da função: Ana

 Acessando a variável global dentro da função: Olá Mundo

 Fora da função: Olá Mundo

 Fora da função: Aluno

#Operadores Aritméticos

In [ ]:
a = 10
b = 5
soma = a + b
print(f"{a} + {b} = {soma}")

10 + 5 = 15

#Operados lógicos

In [ ]:
tem_dinheiro = True
tem_tempo = False

In [ ]:
#Operador and

print(f"O cliente pode viajar ? {tem_dinheiro and tem_tempo}")

O cliente pode viajar ? False

In [ ]:
#Operador or

print(f"O cliente pode viajar ? {tem_dinheiro or tem_tempo}")

O cliente pode viajar ? True

In [ ]:
#Operador not

print(f"O cliente pode viajar? {tem_dinheiro and not tem_tempo}")

O cliente pode viajar? True

#Manipulação de Strings

In [ ]:
#Define uma variável do tipo string

frase = " Aprender Python é muito divertido! "

In [ ]:
#Concatenação

nome = "Maria"
saudacao = "Olá " + nome + "!"
print(f"{saudacao}")

Olá Maria!

In [ ]:
#Tamanho da String

print(f"Tamanho da frase: {len(frase)}")

Tamanho da frase: 36

In [ ]:
#Maiúsculas
print(f"Maiúsculas: {frase.upper()}")

#Minúsculas
print(f"Minúsculas: {frase.lower()}")

Maiúsculas:  APRENDER PYTHON É MUITO DIVERTIDO!
Minúsculas:  aprender python é muito divertido!

In [ ]:
#Remover espaços do início e do fim

frase_sem_espacos = frase.strip()
print(f"Frase sem espaços: {frase_sem_espacos}")

Frase sem espaços: Aprender Python é muito divertido!

In [ ]:
#Substituir Texto

print(f"Substituindo 'divertido' por 'legal': {frase.replace('divertido', 'legal')} ")

Substituindo 'divertido' por 'legal':  Aprender Python é muito legal!

In [ ]:
#Fatiamento(Slicing)- Acessando partes de uma string

#Índice em Python começa em 0

print(frase_sem_espacos)
print(f"O primeiro caractere: {frase_sem_espacos[0]}")
print(f"A palavra Python: {frase_sem_espacos[9:15]}")   #Do índice 9 ao 14

Aprender Python é muito divertido!
O primeiro caractere: A
A palavra Python: Python

#Estrutura de Dados - Listas

In [ ]:
#Criando uma lista

frutas = ["maçã", "banana", "laranja", "abacaxi"]
print(f"Lista de frutas: {frutas}")

Lista de frutas: ['maçã', 'banana', 'laranja', 'abacaxi']

In [ ]:
type(frutas)

list

In [ ]:
#Acessando um item pelo índice

print(f"A primeira fruta é : {frutas[0]} ")          #buscando um valor no índice 0
print(f"A última fruta é: {frutas[-1]}")             #-1 (vai até o final da lista e busca o último elemento)

A primeira fruta é : maçã
A última fruta é: abacaxi

In [ ]:
#Adicionar um item ao final da lista

frutas.append("uva")
print(f"Lista após adicionar 'uva': {frutas}")

Lista após adicionar 'uva': ['maçã', 'banana', 'laranja', 'abacaxi', 'uva']

In [ ]:
#Removendo um item

frutas.remove("laranja")
print(f"Lista após remover 'laranja': {frutas} ")

Lista após remover 'laranja': ['maçã', 'banana', 'abacaxi', 'uva']

In [ ]:
#Modificando um item

frutas[0] = "morango"
print(f"Lista após modificar o primeiro item: {frutas}")

Lista após modificar o primeiro item: ['morango', 'banana', 'laranja', 'abacaxi']

In [ ]:
#Verificando o tamanho da lista

print(f" A lista tem {len(frutas)} frutas")

 A lista tem 4 frutas

In [ ]:
#Deletando a lista

del frutas

#Estrutura de Dados - Tuplas

In [ ]:
#Criando uma tupla

coordenadas = (10.0,20.5)
print(f"Tupla de coordenadas:  {coordenadas}")

Tupla de coordenadas:  (10.0, 20.5)

In [ ]:
type(coordenadas)

tuple

In [ ]:
#Acessar um item pelo índice

print(f"A coordenada X é: {coordenadas[0]}")
print(f"A coordenada Y é: {coordenadas[1]}")

A coordenada X é: 10.0
A coordenada Y é: 20.5

In [ ]:
#Tuplas sáo úteis para dados que não devem ser alterados, como meses do ano, coordenadas, etc.

dias_da_semana = ("segunda", "terça", "quarta", "quinta", "sexta", "sábado", "domingo")
print(f"O primeiro dia da semana é: {dias_da_semana[0]}")

O primeiro dia da semana é: segunda

#Estrutura de Dados - Dicionários

In [ ]:
#Criando um dicionário de informações de um aluno

aluno = {
    "nome": "Bob",
    "idade": 22,
    "curso": "Data Science",
    "aluno_ativo" : True
}
print(f"Dicionário do aluno: {aluno}")

Dicionário do aluno: {'nome': 'Bob', 'idade': 22, 'curso': 'Data Science', 'aluno_ativo': True}

In [ ]:
type(aluno)

dict

In [ ]:
#Acessando um valor pela sua chave

print(f"Nome do aluno: {aluno['nome']}")
print(f"Curso: {aluno.get('curso')}")       #.get() é uma forma segura de acessar chaves

Nome do aluno: Bob
Curso: Data Science

In [ ]:
#Adicionando um novo par chave-valor

aluno["cidade"] = "Recife"
print(f"Dicionário atualizado:\n {aluno}")

Dicionário atualizado:
 {'nome': 'Bob', 'idade': 22, 'curso': 'Data Science', 'aluno_ativo': True, 'cidade': 'Recife'}

In [ ]:
#Modificar um valor existente

aluno["idade"] = 23
print(f"Idade atualizada: {aluno['idade']}")

Idade atualizada: 23

In [ ]:
#Removendo um par chave-valor

del aluno["aluno_ativo"]
print(f"Dicionário após remover 'aluno_ativo':\n  {aluno}")

Dicionário após remover 'aluno_ativo':
  {'nome': 'Bob', 'idade': 23, 'curso': 'Data Science', 'cidade': 'Recife'}

#Estrutura de Dados - Conjuntos(Sets)

In [ ]:
#Criando um conjunto

numeros = {1,2,3,4,2,3,5}
print(f"Conjunto de números (sem duplicatas): {numeros}")

Conjunto de números (sem duplicatas): {1, 2, 3, 4, 5}

In [ ]:
type(numeros)

set

In [ ]:
#Adicionando um item

numeros.add(6)
print(f"Após adicionar o valor 6 :  {numeros}")

Após adicionar o valor 6 :  {1, 2, 3, 4, 5, 6}

In [ ]:
#Removendo um item

numeros.remove(2)
print(f"Após remover o valor 2:  {numeros}")

Após remover o valor 2:  {1, 3, 4, 5, 6}

In [ ]:
#Operações de conjunto

conjunto_a = {1,2,3,4}
conjunto_b = {3,4,5,6}
print(f"Conjunto a: {conjunto_a}")
print(f"Conjunto b: {conjunto_b}")

Conjunto a: {1, 2, 3, 4}
Conjunto b: {3, 4, 5, 6}

In [ ]:
#União

uniao = conjunto_a.union(conjunto_b)
print(f"A união de A e B é:  {uniao}")

A união de A e B é:  {1, 2, 3, 4, 5, 6}

In [ ]:
#Interseção

intersecao = conjunto_a.intersection(conjunto_b)
print(f"A interseção de A e B é: {intersecao}")

A interseção de A e B é: {3, 4}

#Conversão entre tipos de dados - Type Casting

In [ ]:
#Convertendo de String para número Integer

numero_em_texto = "123"
numero_inteiro = int(numero_em_texto)
print(f"String '{numero_em_texto}' para Inteiro:  {numero_inteiro}, Tipo: {type(numero_inteiro)}")

String '123' para Inteiro:  123, Tipo: <class 'int'>

In [ ]:
#Convertendo de String para Float

numero_decimal_em_texto = "45.67"
numero_float = float(numero_decimal_em_texto)
print(f"String '{numero_decimal_em_texto}' para Float: {numero_float}, Tipo {type(numero_float)}")

String '45.67' para Float: 45.67, Tipo <class 'float'>

In [ ]:
#Convertendo de Número para String

idade = 25
idade_em_texto = str(idade)
print(f"Inteiro {idade} para String: '{idade_em_texto}', Tipo: {type(idade_em_texto)}")

Inteiro 25 para String: '25', Tipo: <class 'str'>

In [ ]:
#Convertendo entre estruturas de dados

lista_com_duplicatas = [1,2,2,3,4,4,4,5]      #lista
conjunto_sem_duplicatas = set(lista_com_duplicatas)    #conjunto
lista_sem_duplicatas = list(conjunto_sem_duplicatas)  #lista

print(f"\n Lista Original: {lista_com_duplicatas}")
print(f"\n Convertida para Conjunto: {conjunto_sem_duplicatas}")
print(f"\n Convertida de volta para Lista: {lista_sem_duplicatas}")

 Lista Original: [1, 2, 2, 3, 4, 4, 4, 5]

 Convertida para Conjunto: {1, 2, 3, 4, 5}

 Convertida de volta para Lista: [1, 2, 3, 4, 5]

#Saída de dados com print()

In [ ]:
#Variáveis

nome = "Juliana"
idade = 32
cidade = "Recife"

print(f"Olá, meu nome é {nome}, tenho {idade} anos e moro em {cidade}")

Olá, meu nome é Juliana, tenho 32 anos e moro em Recife

In [ ]:
#Formatando números

preco = 49.95678
print(f"O preço do produto é R$ {preco:.2f}")       #formata para 2 casas decimais

O preço do produto é R$ 49.96

#Entrada de dados com input()

In [ ]:
#Pedindo o nome do usuário (string)

nome_usuario = input("Qual é o seu nome? ")

#Pedindo a idade do usuário(precisa converter para int)

idade_usuario_str = input("Qual é a sua idade? ")
idade_usuario_int = int(idade_usuario_str)

from datetime import date      #biblioteca para trabalhar com datas e horas

#Pega o ano corrente na data definida no sistema operacional da sua máquina

ano_atual = date.today().year

#Processando os dados

ano_nascimento = ano_atual - idade_usuario_int

#Exibindo o resultado

print(f"\nOlá, {nome_usuario}! Bem-vindo(a).")
print(f"Você tem {idade_usuario_int} anos e nasceu aproximadamente em {ano_nascimento}")

Qual é o seu nome? Maria
Qual é a sua idade? 50

Olá, Maria! Bem-vindo(a).
Você tem 50 anos e nasceu aproximadamente em 1975

#Exercícios

In [ ]:
#Escreva um programa que peça ao usuário para digitar o seu nome e em seguida, imprima uma mensagem de boas-vindas com o nome fornecido.

nome = input("Digite o seu nome: ")
print(f"Olá {nome}, seja bem-vindo(a)!")

Digite o seu nome: Maria
Olá Maria, seja bem-vindo(a)!

In [ ]:
#Crie duas variáveis, numero1 e numero2, e atribua a elas valores inteiros. Calcule a soma, subtração, multiplicação e divisão dessas variáveis e
#imprima os resultados.

numero1 = 20
numero2 = 70


soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

print(f"A soma é: {soma}")
print(f"A subtração é: {subtracao}")
print(f"A multiplicação é: {multiplicacao}")
print(f"A divisão é: {divisao:.2f}")

A soma é: 90
A subtração é: -50
A multiplicação é: 1400
A divisão é: 0.29

In [ ]:
#Crie uma variável chamada saldo com o valor 500.50 (float). Em seguida, crie uma variável saque com o valor 200.25 (float). Subtraia o saque do saldo e
#imprima o saldo final formatado para duas casas decimais.

saldo = 500.50
saque = 200.25

saldo_final = saldo - saque

print(f"O saldo final é R$ {saldo_final:.2f}")

O saldo final é R$ 300.25

In [ ]:
#Declare uma variável booleana chamada **tem_carteira_de_motorista** e atribua a ela o valor True.
#Imprima uma mensagem que diga "Pode dirigir" se a variável for verdadeira e "Não pode dirigir" caso contrário.

tem_carteira_de_motorista = True

if tem_carteira_de_motorista == True:
  print("Pode dirigir")
else:
  print("Não pode dirigir")

Pode dirigir

In [ ]:
#Crie duas variáveis:

#- idade_ana = 25
#- idade_beto = 30

#Use operadores de comparação para verificar se a idade de Ana é menor que a de Beto e imprima o resultado booleano.

idade_ana = 25
idade_beto = 30

if idade_ana < idade_beto:
  print("Idade de Ana é menor que a idade de Beto")
else:
  print("Idade de Ana é maior que a idade de Beto")

Idade de Ana é menor que a idade de Beto

In [ ]:
#Receba um número inteiro do usuário e use o operador de módulo (%) para verificar se o número é par ou ímpar. Imprima o resultado.

#Obs: Não estudamos ainda os condicionais, mas pesquise se necessário e tente resolver.

numero = int(input("Digite um número: "))

if numero % 2 == 0:
  print(f"{numero} é par")
else:
  print(f"{numero} é ímpar")

Digite um número: 6
6 é par

In [ ]:
#Crie duas variáveis booleanas:

#- chovendo = True
#- guarda_chuva = False

#Use operadores lógicos para verificar se uma pessoa vai se molhar (se está chovendo E ela não tem guarda-chuva).

chovendo = True
guarda_chuva = False

if chovendo == True and guarda_chuva == False:
  print("Vai se molhar")
else:
  print("Não Vai se molhar")

Vai se molhar

In [ ]:
#Calcule a potência de 2 elevado a 10 e imprima o resultado.


potencia = 2**10
print(f"A potência de 2 elevado a 10 = {potencia}")

A potência de 2 elevado a 10 = 1024

In [ ]:
#Converta a string "2026" para um tipo inteiro e armazene-a em uma variável chamada ano. Em seguida, some 1 a essa variável e imprima o novo ano.

ano_string = "2026"
ano_inteiro = int(ano_string)
ano_novo = ano_inteiro + 1

print(f"Ano novo: {ano_novo}")


type(ano_novo)

Ano novo: 2027

int

In [ ]:
#Crie a string:

#frase = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   ".

#Remova os espaços em branco do início e do fim da string e imprima a nova string.



frase = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   "
frase = frase.strip()
print(f"\nFrase sem espaços em branco: {frase}")


#Na string do exercício anterior (já sem os espaços), converta toda a frase para letras maiúsculas.

frase = frase.lower()
print(f"\nFrase em letras minúsculas: {frase}")


#Ainda usando a mesma string, substitua a palavra "poderosa" por "incrível".

print(f"\nSubstituindo a palavra 'poderosa' por 'incrível' : {frase.replace('poderosa', 'incrível')}")


#Verifique e imprima o número total de caracteres na string frase (após as modificações dos exercícios anteriores).

print(f"\nTotal de caracteres da string frase: {len(frase)}")


#Use fatiamento (slicing) para extrair e imprimir apenas a palavra "Python" da string frase.


print(f"\nA palavra python: {frase[0:6]}")

Frase sem espaços em branco: Python é uma linguagem poderosa e estou aprendendo com a DSA

Frase em letras minúsculas: python é uma linguagem poderosa e estou aprendendo com a dsa

Substituindo a palavra 'poderosa' por 'incrível' : python é uma linguagem incrível e estou aprendendo com a dsa

Total de caracteres da string frase: 60

A palavra python: python

In [ ]:
#Crie uma lista chamada compras com os seguintes itens: "arroz", "feijão", "macarrão", "carne". Imprima a lista.

compras = ["arroz" , "feijão", "macarrão", "carne"]
print(f"\nCompras: {compras}")

#Adicione o item "leite" ao final da lista compras e imprima a lista atualizada.

compras.append("leite")
print(f"\nLista após adicionar o item 'leite': {compras}")


#Acesse e imprima o segundo item da lista compras

print(f"\nSegundo item da lista: {compras[1]}")


#Remova o item "macarrão" da lista compras e imprima a lista final.

compras.remove("macarrão")
print(f"\nLista após remover o item 'macarrão': {compras}")

Compras: ['arroz', 'feijão', 'macarrão', 'carne']

Lista após adicionar o item 'leite': ['arroz', 'feijão', 'macarrão', 'carne', 'leite']

Segundo item da lista: feijão

Lista após remover o item 'macarrão': ['arroz', 'feijão', 'carne', 'leite']

In [ ]:
#Crie uma lista de números de 1 a 5. Use uma função para calcular e imprimir o tamanho (número de elementos) dessa lista.


numeros = [1,2,3,4,5]

#defini a função
def calcular():
    print(f"Número de elementos da lista números: {len(numeros)}")

#chamei a função
calcular()

Número de elementos da lista números: 5

In [ ]:
#Crie uma tupla chamada meses com os três primeiros meses do ano: "Janeiro", "Fevereiro", "Março".

meses = ("Janeiro", "Fevereiro","Março")

print(f"\nTrês primeiros meses do anos: {meses}")


#Tente adicionar o mês "Abril" à tupla meses. O que acontece? Explique o resultado.

#Resposta: não consigo adicionar "Abril" à tupla porque tuplas são imutáveis e não permitem alterações após criadas.



#Acesse e imprima o primeiro mês da tupla meses.

print(f"\nPrimeiro mês da tupla meses: {meses[0]}")

Três primeiros meses do anos: ('Janeiro', 'Fevereiro', 'Março')

Primeiro mês da tupla meses: Janeiro

In [ ]:
#Crie um dicionário chamado filme com as seguintes chaves e valores:

#- titulo = "O Poderoso Chefão",
#- ano = 1972
#- diretor = "Francis Ford Coppola"


filme = {
    "título" : "O poderoso chefão",
    "ano": 1972,
    "diretor" :"Francis Ford Coppola"

}

print(f"\nDicionário filme: {filme}")


#Acesse e imprima o ano de lançamento do filme a partir do dicionário.

print(f"\nAno de lançamento do filme: {filme['ano']}")


#Adicione uma nova chave genero com o valor "Drama" ao dicionário filme e imprima o dicionário completo.

filme["genero"] = "drama"
print(f"\nDicionário após adicionar a chave 'genero' com valor 'drama': {filme}")

#Modifique o valor da chave ano para 1973 e imprima o dicionário atualizado.

filme["ano"] = 1973
print(f"\nModificar o valor da chave ano para 1973: {filme['ano']}")

Dicionário filme: {'título': 'O poderoso chefão', 'ano': 1972, 'diretor': 'Francis Ford Coppola'}

Ano de lançamento do filme: 1972

Dicionário após adicionar a chave 'genero' com valor 'drama': {'título': 'O poderoso chefão', 'ano': 1972, 'diretor': 'Francis Ford Coppola', 'genero': 'drama'}

Modificar o valor da chave ano para 1973: 1973

In [ ]:
#Crie uma lista com os seguintes números: [1, 2, 2, 3, 4, 4, 5, 1]. Use um conjunto para remover os números duplicados e imprima o resultado.


numeros = [1, 2, 2, 3, 4, 4, 5, 1]
numeros_sem_duplicatas = set(numeros)
numeros_sem_duplicatas = list(numeros)

print(f"\nLista sem duplicatas: {numeros}")

Lista sem duplicatas: [1, 2, 2, 3, 4, 4, 5, 1]

In [ ]:
#Crie dois conjuntos:

#- set_a = {1, 2, 3, 4}
#- set_b = {3, 4, 5, 6}

#Encontre e imprima a interseção entre os dois conjuntos (os elementos que estão em ambos).

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

print(f"A interseção entre os dois conjuntos: {set_a.intersection(set_b)}")

A interseção entre os dois conjuntos: {3, 4}

In [ ]:
#Escreva um programa que peça ao usuário para digitar sua altura em metros (ex: 1.75) e seu peso em quilogramas (ex: 68.5).
#Calcule o Índice de Massa Corporal (IMC) usando a fórmula IMC = peso / (altura * altura) e imprima o resultado formatado com duas casas decimais.

altura = float(input("Digite a sua altura: "))
peso = float(input("Digite o seu peso: "))

imc = peso /(altura * altura)

print(f"Seu IMC é : {imc:.2f}")

Digite a sua altura: 1.60
Digite o seu peso: 58
Seu IMC é : 22.66

#Jogo : pedra, papel e tesoura

In [ ]:
# --- 1. Apresentação e Regras ---

#Usei a função print() para exibir a mensagem na tela (Saída Padrão).
print("---------------------------------------------------")
print("--- Jogo Pedra, Papel e Tesoura (2 jogadores) ---")
print("---------------------------------------------------")
print("Bem vindos(as)! Cada jogador(a) deve escolher uma das opções.")

#Usei uma tupla para armazenar as opções válidas.
#Tuplas são boas aqui porque as opções do jogo não mudam(são imutáveis).
opcoes_validas = ("pedra", "papel", "tesoura")
print(f"Opções válidas: {opcoes_validas}")
print("-" * 25)  #Imprime uma linha para separar

# --- 2. Coleta dos Dados de Entrada ---

#Usei a função input() para receber o que o usuário digita (Entrada Padrão).
#A função input() sempre retorna uma string.
jogada_jogador_1_inicial = input("Jogador 1, digite a sua jogada: ")
jogada_jogador_2_inicial = input("Jogador 2, digite a sua jogada: ")

# --- 3. Tratamento dos Dados de Entrada ---

#Manipulando as Strings: usei .lower() para converter as minúsculas
# e .strip() para remover espaços extras.
jogada_jogador_1 = jogada_jogador_1_inicial.lower().strip()
jogada_jogador_2 = jogada_jogador_2_inicial.lower().strip()

print("-" * 25)
print(f"Jogador 1 escolheu: {jogada_jogador_1}")
print(f"Jogador 2 escolheu: {jogada_jogador_2}")
print("-" * 25)

# --- 4. Lógica do Jogo e Resultado ---

#Primeiro, verifiquei se as jogadas são válidas
#Vai chegar se a jogada não está dentro da tupla de opções

if jogada_jogador_1 not in opcoes_validas or jogada_jogador_2 not in opcoes_validas:
   print("Uma ou ambas das opções são inválidas! Por favor, use apenas 'pedra', 'papel' ou 'tesoura'.")

#Lógica principaldo jogo usando operadores de comparação e lógicos

#Caso 1: Empate
elif jogada_jogador_1 == jogada_jogador_2:
    print("Resultado: É um empate!")

#Caso 2: Jogador 1 vence
elif (jogada_jogador_1 =='pedra' and jogada_jogador_2 == 'tesoura') or \
     (jogada_jogador_1 =='tesoura' and jogada_jogador_2 == 'papel') or \
     (jogada_jogador_1 =='papel' and jogada_jogador_2 == 'pedra'):
    print("Resultado: Jogador 1 venceu! Parabéns!")

#Caso 3: Se não empatou e o jogador 1 não venceu, então o jogador 2 venceu
else:
    print("Resultado: Jogador 2 venceu! Parabéns!")

print("\n--- Fim do Jogo ---")

---------------------------------------------------
--- Jogo Pedra, Papel e Tesoura (2 jogadores) ---
---------------------------------------------------
Bem vindos(as)! Cada jogador(a) deve escolher uma das opções.
Opções válidas: ('pedra', 'papel', 'tesoura')
-------------------------
Jogador 1, digite a sua jogada: pedra
Jogador 2, digite a sua jogada: PAPEL
-------------------------
Jogador 1 escolheu: pedra
Jogador 2 escolheu: papel
-------------------------
Resultado: Jogador 2 venceu! Parabéns!

--- Fim do Jogo ---