<a href="https://colab.research.google.com/github/mariaems99/Python-Do-Basico-A-Aplicacoes-de-IA/blob/main/Python_Do_B%C3%A1sico_a_Aplica%C3%A7%C3%B5es_de_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variáveis

In [ ]:
nome_completo = "Bob da Silva"
idade = 30
altura = 1.76
eh_estudante = True

print(f"Nome: {nome_completo}")
print(f"Idade: {idade}")
print(f"Altura: {altura}")
print(f"É estudante? {eh_estudante}")

Nome: Bob da Silva
Idade: 30
Altura: 1.76
É estudante? True

#Escopo de Variáveis

In [ ]:
#Variáveis Globais
saudacao = "Olá Mundo"
nome = "Aluno"

#Função
def minha_funcao():

    #Variável Local
    nome = "Ana"
    print(f"\n Dentro da função: {nome}")
    print(f"\n Acessando a variável global dentro da função: {saudacao}")

minha_funcao()

print(f"\n Fora da função: {saudacao}")
print(f"\n Fora da função: {nome}")

 Dentro da função: Ana

 Acessando a variável global dentro da função: Olá Mundo

 Fora da função: Olá Mundo

 Fora da função: Aluno

#Operadores Aritméticos

In [ ]:
a = 10
b = 5
soma = a + b
print(f"{a} + {b} = {soma}")

10 + 5 = 15

#Operados lógicos

In [ ]:
tem_dinheiro = True
tem_tempo = False

In [ ]:
#Operador and

print(f"O cliente pode viajar ? {tem_dinheiro and tem_tempo}")

O cliente pode viajar ? False

In [ ]:
#Operador or

print(f"O cliente pode viajar ? {tem_dinheiro or tem_tempo}")

O cliente pode viajar ? True

In [ ]:
#Operador not

print(f"O cliente pode viajar? {tem_dinheiro and not tem_tempo}")

O cliente pode viajar? True

#Manipulação de Strings

In [ ]:
#Define uma variável do tipo string

frase = " Aprender Python é muito divertido! "

In [ ]:
#Concatenação

nome = "Maria"
saudacao = "Olá " + nome + "!"
print(f"{saudacao}")

Olá Maria!

In [ ]:
#Tamanho da String

print(f"Tamanho da frase: {len(frase)}")

Tamanho da frase: 36

In [ ]:
#Maiúsculas
print(f"Maiúsculas: {frase.upper()}")

#Minúsculas
print(f"Minúsculas: {frase.lower()}")

Maiúsculas:  APRENDER PYTHON É MUITO DIVERTIDO!
Minúsculas:  aprender python é muito divertido!

In [ ]:
#Remover espaços do início e do fim

frase_sem_espacos = frase.strip()
print(f"Frase sem espaços: {frase_sem_espacos}")

Frase sem espaços: Aprender Python é muito divertido!

In [ ]:
#Substituir Texto

print(f"Substituindo 'divertido' por 'legal': {frase.replace('divertido', 'legal')} ")

Substituindo 'divertido' por 'legal':  Aprender Python é muito legal!

In [ ]:
#Fatiamento(Slicing)- Acessando partes de uma string

#Índice em Python começa em 0

print(frase_sem_espacos)
print(f"O primeiro caractere: {frase_sem_espacos[0]}")
print(f"A palavra Python: {frase_sem_espacos[9:15]}")   #Do índice 9 ao 14

Aprender Python é muito divertido!
O primeiro caractere: A
A palavra Python: Python

#Estrutura de Dados - Listas

In [26]:
#Criando uma lista

frutas = ["maçã", "banana", "laranja", "abacaxi"]
print(f"Lista de frutas: {frutas}")

Lista de frutas: ['maçã', 'banana', 'laranja', 'abacaxi']

In [7]:
type(frutas)

list

In [10]:
#Acessando um item pelo índice

print(f"A primeira fruta é : {frutas[0]} ")          #buscando um valor no índice 0
print(f"A última fruta é: {frutas[-1]}")             #-1 (vai até o final da lista e busca o último elemento)

A primeira fruta é : maçã
A última fruta é: abacaxi

In [11]:
#Adicionar um item ao final da lista

frutas.append("uva")
print(f"Lista após adicionar 'uva': {frutas}")

Lista após adicionar 'uva': ['maçã', 'banana', 'laranja', 'abacaxi', 'uva']

In [13]:
#Removendo um item

frutas.remove("laranja")
print(f"Lista após remover 'laranja': {frutas} ")

Lista após remover 'laranja': ['maçã', 'banana', 'abacaxi', 'uva']

In [27]:
#Modificando um item

frutas[0] = "morango"
print(f"Lista após modificar o primeiro item: {frutas}")

Lista após modificar o primeiro item: ['morango', 'banana', 'laranja', 'abacaxi']

In [29]:
#Verificando o tamanho da lista

print(f" A lista tem {len(frutas)} frutas")

 A lista tem 4 frutas

In [ ]:
#Deletando a lista

del frutas

#Estrutura de Dados - Tuplas

In [30]:
#Criando uma tupla

coordenadas = (10.0,20.5)
print(f"Tupla de coordenadas:  {coordenadas}")

Tupla de coordenadas:  (10.0, 20.5)

In [62]:
type(coordenadas)

tuple

In [31]:
#Acessar um item pelo índice

print(f"A coordenada X é: {coordenadas[0]}")
print(f"A coordenada Y é: {coordenadas[1]}")

A coordenada X é: 10.0
A coordenada Y é: 20.5

In [32]:
#Tuplas sáo úteis para dados que não devem ser alterados, como meses do ano, coordenadas, etc.

dias_da_semana = ("segunda", "terça", "quarta", "quinta", "sexta", "sábado", "domingo")
print(f"O primeiro dia da semana é: {dias_da_semana[0]}")

O primeiro dia da semana é: segunda

#Estrutura de Dados - Dicionários

In [37]:
#Criando um dicionário de informações de um aluno

aluno = {
    "nome": "Bob",
    "idade": 22,
    "curso": "Data Science",
    "aluno_ativo" : True
}
print(f"Dicionário do aluno: {aluno}")

Dicionário do aluno: {'nome': 'Bob', 'idade': 22, 'curso': 'Data Science', 'aluno_ativo': True}

In [39]:
type(aluno)

dict

In [48]:
#Acessando um valor pela sua chave

print(f"Nome do aluno: {aluno['nome']}")
print(f"Curso: {aluno.get('curso')}")       #.get() é uma forma segura de acessar chaves

Nome do aluno: Bob
Curso: Data Science

In [49]:
#Adicionando um novo par chave-valor

aluno["cidade"] = "Recife"
print(f"Dicionário atualizado:\n {aluno}")

Dicionário atualizado:
 {'nome': 'Bob', 'idade': 22, 'curso': 'Data Science', 'aluno_ativo': True, 'cidade': 'Recife'}

In [51]:
#Modificar um valor existente

aluno["idade"] = 23
print(f"Idade atualizada: {aluno['idade']}")

Idade atualizada: 23

In [52]:
#Removendo um par chave-valor

del aluno["aluno_ativo"]
print(f"Dicionário após remover 'aluno_ativo':\n  {aluno}")

Dicionário após remover 'aluno_ativo':
  {'nome': 'Bob', 'idade': 23, 'curso': 'Data Science', 'cidade': 'Recife'}

#Estrutura de Dados - Conjuntos(Sets)

In [60]:
#Criando um conjunto

numeros = {1,2,3,4,2,3,5}
print(f"Conjunto de números (sem duplicatas): {numeros}")

Conjunto de números (sem duplicatas): {1, 2, 3, 4, 5}

In [61]:
type(numeros)

set

In [63]:
#Adicionando um item

numeros.add(6)
print(f"Após adicionar o valor 6 :  {numeros}")

Após adicionar o valor 6 :  {1, 2, 3, 4, 5, 6}

In [64]:
#Removendo um item

numeros.remove(2)
print(f"Após remover o valor 2:  {numeros}")

Após remover o valor 2:  {1, 3, 4, 5, 6}

In [66]:
#Operações de conjunto

conjunto_a = {1,2,3,4}
conjunto_b = {3,4,5,6}
print(f"Conjunto a: {conjunto_a}")
print(f"Conjunto b: {conjunto_b}")

Conjunto a: {1, 2, 3, 4}
Conjunto b: {3, 4, 5, 6}

In [67]:
#União

uniao = conjunto_a.union(conjunto_b)
print(f"A união de A e B é:  {uniao}")

A união de A e B é:  {1, 2, 3, 4, 5, 6}

In [68]:
#Interseção

intersecao = conjunto_a.intersection(conjunto_b)
print(f"A interseção de A e B é: {intersecao}")

A interseção de A e B é: {3, 4}

#Conversão entre tipos de dados - Type Casting

In [69]:
#Convertendo de String para número Integer

numero_em_texto = "123"
numero_inteiro = int(numero_em_texto)
print(f"String '{numero_em_texto}' para Inteiro:  {numero_inteiro}, Tipo: {type(numero_inteiro)}")

String '123' para Inteiro:  123, Tipo: <class 'int'>

In [70]:
#Convertendo de String para Float

numero_decimal_em_texto = "45.67"
numero_float = float(numero_decimal_em_texto)
print(f"String '{numero_decimal_em_texto}' para Float: {numero_float}, Tipo {type(numero_float)}")

String '45.67' para Float: 45.67, Tipo <class 'float'>

In [71]:
#Convertendo de Número para String

idade = 25
idade_em_texto = str(idade)
print(f"Inteiro {idade} para String: '{idade_em_texto}', Tipo: {type(idade_em_texto)}")

Inteiro 25 para String: '25', Tipo: <class 'str'>

In [73]:
#Convertendo entre estruturas de dados

lista_com_duplicatas = [1,2,2,3,4,4,4,5]      #lista
conjunto_sem_duplicatas = set(lista_com_duplicatas)    #conjunto
lista_sem_duplicatas = list(conjunto_sem_duplicatas)  #lista

print(f"\n Lista Original: {lista_com_duplicatas}")
print(f"\n Convertida para Conjunto: {conjunto_sem_duplicatas}")
print(f"\n Convertida de volta para Lista: {lista_sem_duplicatas}")

 Lista Original: [1, 2, 2, 3, 4, 4, 4, 5]

 Convertida para Conjunto: {1, 2, 3, 4, 5}

 Convertida de volta para Lista: [1, 2, 3, 4, 5]

#Saída de dados com print()

In [74]:
#Variáveis

nome = "Juliana"
idade = 32
cidade = "Recife"

print(f"Olá, meu nome é {nome}, tenho {idade} anos e moro em {cidade}")

Olá, meu nome é Juliana, tenho 32 anos e moro em Recife

In [76]:
#Formatando números

preco = 49.95678
print(f"O preço do produto é R$ {preco:.2f}")       #formata para 2 casas decimais

O preço do produto é R$ 49.96

#Entrada de dados com input()

In [79]:
#Pedindo o nome do usuário (string)

nome_usuario = input("Qual é o seu nome? ")

#Pedindo a idade do usuário(precisa converter para int)

idade_usuario_str = input("Qual é a sua idade? ")
idade_usuario_int = int(idade_usuario_str)

from datetime import date      #biblioteca para trabalhar com datas e horas

#Pega o ano corrente na data definida no sistema operacional da sua máquina

ano_atual = date.today().year

#Processando os dados

ano_nascimento = ano_atual - idade_usuario_int

#Exibindo o resultado

print(f"\nOlá, {nome_usuario}! Bem-vindo(a).")
print(f"Você tem {idade_usuario_int} anos e nasceu aproximadamente em {ano_nascimento}")

Qual é o seu nome? Maria
Qual é a sua idade? 50

Olá, Maria! Bem-vindo(a).
Você tem 50 anos e nasceu aproximadamente em 1975

#Exercícios

In [80]:
#Escreva um programa que peça ao usuário para digitar o seu nome e em seguida, imprima uma mensagem de boas-vindas com o nome fornecido.

nome = input("Digite o seu nome: ")
print(f"Olá {nome}, seja bem-vindo(a)!")

Digite o seu nome: Maria
Olá Maria, seja bem-vindo(a)!

In [83]:
#Crie duas variáveis, numero1 e numero2, e atribua a elas valores inteiros. Calcule a soma, subtração, multiplicação e divisão dessas variáveis e
#imprima os resultados.

numero1 = 20
numero2 = 70


soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

print(f"A soma é: {soma}")
print(f"A subtração é: {subtracao}")
print(f"A multiplicação é: {multiplicacao}")
print(f"A divisão é: {divisao:.2f}")

A soma é: 90
A subtração é: -50
A multiplicação é: 1400
A divisão é: 0.29

In [84]:
#Crie uma variável chamada saldo com o valor 500.50 (float). Em seguida, crie uma variável saque com o valor 200.25 (float). Subtraia o saque do saldo e
#imprima o saldo final formatado para duas casas decimais.

saldo = 500.50
saque = 200.25

saldo_final = saldo - saque

print(f"O saldo final é R$ {saldo_final:.2f}")

O saldo final é R$ 300.25

In [93]:
#Declare uma variável booleana chamada **tem_carteira_de_motorista** e atribua a ela o valor True.
#Imprima uma mensagem que diga "Pode dirigir" se a variável for verdadeira e "Não pode dirigir" caso contrário.

tem_carteira_de_motorista = True

if tem_carteira_de_motorista == True:
  print("Pode dirigir")
else:
  print("Não pode dirigir")

Pode dirigir

In [ ]:
#Crie duas variáveis:

#- idade_ana = 25
#- idade_beto = 30

#Use operadores de comparação para verificar se a idade de Ana é menor que a de Beto e imprima o resultado booleano.